/* Box Model */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/* Header y navegacion */
.nombre-sitio {
  margin: 5rem 0;
  text-align: center;
  font-size: 4rem;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}
.nav-principal {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

/* cagorias */
.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.categorias h2 {
  text-align: center;
}

.categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 2rem;
}
